@{
    ViewBag.Title = "About the app";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>This app was developed part of a KiwiTech Coding Challenge.</p>
<h4>Assignment</h4>
<p>
    Create a Trulia (trulia.com) clone. Your application should have an interface for searching for homes that are currently for sale, filtering the results, and viewing them on a map, at a minimum. Feel free to find a public API to provide feeds of homes that your app can use, or also feel free to use a static JSON document.
</p>
<h4>Source code</h4>
<p>Source code for this application can be found at Github <a href="https://github.com/kannan-kiwitech/KiwiCodingChallenge">https://github.com/kannan-kiwitech/KiwiCodingChallenge</a></p>