@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kannan K.R.<br />
    <a href="mailto:kannan.k@kiwitech.com">kannan.k@kiwitech.com</a><br />
    <abbr title="Phone">P:</abbr>
    98735 59 2 59
</address>