@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h3>Search</h3>
        <p>
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-8" id="dvMap" style="height:500px;">

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCV9jnDSFNYrVPOdqVukVUU3WpALVBTTx8&callback=initMap" async defer></script>
<script type="text/javascript">
  function initMap() {
    var map = new google.maps.Map(document.getElementById('dvMap'), {
        center: {
            lat: 10.9968683,
            lng: 76.00882
        },
        zoom: 15
    });
    //marker..
    var marker = new google.maps.Marker({
        position: {
            lat: 10.9968683,
            lng: 76.00882
        },
        map: map,
        draggable: true
    });

			//dragend event of marker
google.maps.event.addListener(marker,'dragend', function () {
    var Lats = marker.getPosition().lat();
    var Longs = marker.getPosition().lng();

    $('#Lat').val(Lats);
    $('#Long').val(Longs);

});
}
</script>